<section class="sp_panel">
    <div class="container">
        <div class="row content">
            <div class="col-lg-6">
                <table class="w-full table-auto bg-white">
                    <thead>
                      <tr>
                        <th class="border px-4 py-2 text-left">No</th>
                        <th class="border px-4 py-2 text-left">4.00 Valparaiso - Race 1</th>
                        <th class="border px-4 py-2 text-left">Projected SP</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2">
                                1
                            </td>
                            <td class="border px-4 py-2">
                                LA GALLEGA
                            </td>
                            <td class="border px-4 py-2">
                                25/1
                            </td>
                        </tr>
                        <tr>
                            <td class="border px-4 py-2">
                                2
                            </td>
                            <td class="border px-4 py-2">
                                HEROINA DEL LUGAR
                            </td>
                            <td class="border px-4 py-2">
                                6/4
                            </td>
                        </tr>
                        <tr>
                            <td class="border px-4 py-2">
                                3
                            </td>
                            <td class="border px-4 py-2">
                                LA VIDA SE VIVE
                            </td>
                            <td class="border px-4 py-2">
                                25/1
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-lg-6">
                <table class="w-full table-auto bg-white">
                    <thead>
                      <tr>
                        <th class="border px-4 py-2 text-left">No</th>
                        <th class="border px-4 py-2 text-left">4.00 Valparaiso - Race 1</th>
                        <th class="border px-4 py-2 text-left">Projected SP</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2">
                                1
                            </td>
                            <td class="border px-4 py-2">
                                LA GALLEGA
                            </td>
                            <td class="border px-4 py-2">
                                25/1
                            </td>
                        </tr>
                        <tr>
                            <td class="border px-4 py-2">
                                2
                            </td>
                            <td class="border px-4 py-2">
                                HEROINA DEL LUGAR
                            </td>
                            <td class="border px-4 py-2">
                                6/4
                            </td>
                        </tr>
                        <tr>
                            <td class="border px-4 py-2">
                                3
                            </td>
                            <td class="border px-4 py-2">
                                LA VIDA SE VIVE
                            </td>
                            <td class="border px-4 py-2">
                                25/1
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>

<section class="bet_info_panel">
    <div class="container">
        <div class="row content">
            <div class="panel_title">
                LIVE BETTING INFORMATION
            </div>
            <div class="panel_content">
                <div class="bet_info_item">
                    <p>
                        4.28 Valparaiso Early local support for newcomeer MARCHANDO VOY in race 2, available at 33/1, looking to go off closer to 7/1.
                    </p>
                </div>
                <div class="bet_info_item">
                    <p>
                        4.28 Valparaiso Early local support for newcomeer MARCHANDO VOY in race 2, available at 33/1, looking to go off closer to 7/1.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>