.bottom-bar-1{
    border-width: 32px 0px 64px;
    border-style: solid;
    border-color: transparent;
    border-image: url('../img/bar.png') 0% 0% 100% 0%;
    position: relative;
}

.bottom-bar-1::after{
    position: absolute;
    bottom: -64px;
    left: 50%;
    margin-left: -32px;
    background-image: url('../img/star.png');
    width: 64px;
    height: 64px;
    content: '';
}

.top-bar-1{
    border-width: 64px 0px 32px;
    border-style: solid;
    border-color: transparent;
    border-image: url('../img/bar.png') 100% 0% 0% 0%;
    position: relative;
}

.top-bar-1::before{
    position: absolute;
    top: -64px;
    left: 50%;
    margin-left: -32px;
    background-image: url('../img/star.png');
    width: 64px;
    height: 64px;
    content: '';
}

button[type="submit"]{
    background: #d9232d;
    border: 0;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

#footer{
    background-color: #ffffff;
    padding: 0px;
    color:#000;
}

#footer .footer-top {
    background: #ffffff;
    padding: 0px;
}